html {
  scrollbar-gutter: stable;

  &.lock {
    overflow: hidden;
  }
}

#__nuxt {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  background-color: #F0F0F0;
}

main {
  flex-grow: 1;
}

img, svg {
  max-width: 100%;
}